{% extends "base.html" %}

{% block content %}
    <div class="all">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text"><h4>{{ comp.name }}</h4></p>
            <p class="card-tel">{{ comp.tel }}</p>
            <p class="card-addr">{{ comp.addr }}</p>
            <hr />
            <p>거래 상품 목록</p>
            {% for item in comp.products.all %}
                    <a href="{% url "stock:detail_list" item.pk %}">{{ item.name }}</a>
                    <br/>
            {% endfor %}
        </div>
    </div>
        <div>
            <ul style="list-style: none">
                <li>
                <button class="btn btn-warning" type="submit"><a href="{% url 'stock:comp_edit' comp.pk %}">수정</a></button>
            </li>
            <li>
                <button class="btn btn-warning" type="submit"><a href="{% url 'stock:comp_del' comp.pk %}">삭제</a></button>
            </li>
            <li>
                <button class="btn btn-warning" type="submit"><a href="{% url 'stock:comp_list' %}">목록</a></button>
            </li>
{#                <li><button class="btn btn-warning" type="submit"><a href="{% url 'stock:comp_list' %}">삭제</a></button></li>#}
{#                <li><button class="btn btn-warning" type="submit"><a href="{% url 'stock:comp_list' %}">목록</a></button></li>#}
            </ul>
        </div>

    </div>


{% endblock %}