<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'stock:item_list' %}">
    <img src="img/apple.jpg" width="30" height="30" alt="">
  </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'stock:item_new' %}">상품 등록</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stock:comp_new' %}">거래처 등록</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stock:comp_list' %}">거래처 관리</a>
        </li>
    </ul>
</nav>